body {
  color: #c5c9c5;
  background-color: #181616;
  font-family: cantarell,liberation,arial,helvetica,sans-serif
}

a:link {
  color: #7e9cd8;
  text-decoration: none;
}

a:visited {
  color: #7e9cd8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-left: 20px;
}

h2 {
  color: #bc8f8f;
}

h3 {
  color: #bc8f8f;
}

h4 {
  color: #bc8f8f;
}

dt {
    color: #c5c9c5;
    margin-left: 20px;
}

dd {
    color: #c5c9c5;
    padding-left: 4px;
}
